{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="col-md-6 offset-md-3 ">
    <div class="jumbotron shadow mt-3 p-2">
        <h1 class="display-5 text-center">Welcome <stron>{{request.user}}</strong></h1>
        <p class="lead text-center">Add a task here and save it.</p>
        <hr class="my-3">
        <div class="container-fluid px-5">

            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.taskTitle|as_crispy_field }}<br>
                {{ form.taskDesc|as_crispy_field }}
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-lg my-2">
                            <i class="fas fa-database"></i> Save</button>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'list' %}" class="btn btn-primary btn-lg my-2">
                            <i class="fas fa-stream"> Back To List</i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}